<div class='hero-short {% if page.features.size == 0 %}bg-blue{% endif %}' style='{% if page.features.size > 0 %}{% for feature in page.features limit: 1 %}background-image: url({{ feature.image_url }}){% endfor %}{% endif %};'>
  {% if page.features.size > 0 %}
    <div class="overlay"></div>
  {% endif %}
  <div class='hero-caption'>
    <h1 class='wow fadeInUp'>{{ page.headline }}</h1>
  </div>
</div>

<div class='container-fluid p-0'>
  <div class='row no-gutters'>
    <div class='col-sm-12 callout callout-wide'>
      <div class='callout-narrow-container'>
        {{ page.basic.content }}
        <div class="like-page">
          {% include "like_page" %}
        </div>
      </div>
    </div>
  </div>
</div>


{% subpage "newsletter" with "newsletter" %}
