{% for page in tag.most_recent_published_pages limit: 1 %}

<div class='col-sm-6 callout square bg-green'>
  <div class='excerpt-container'>
    <h2 class='wow fadeInUp'>{% for feature in page.features limit: 1 %}{{ feature.headline }}{% endfor %}</h2>
    <p class='wow fadeInUp'>
      <a class='prev-next' href='{{ page.url }}'>Learn More</a>
    </p>
  </div>
</div>
<div class='col-sm-6 callout square' style='background-image: url({% for feature in page.features limit: 1 %}{{ feature.image_url }}{% endfor %});'></div>

{% endfor %}
