@media (min-width: 768px) {
	.navbar {
	    border-radius: 0px;
	}
}

/*--------------------------------DARK NAV-----------------------------------*/

.navbar-dark {
	background-color: $primary-blue;

  	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
	border: 0;
	a {
		color: #fff;
	}
	img {
		width: 180px;
		height: 60px;
	}		
	.navbar-header{
		padding-top: 10px;
		padding-bottom: 10px;		
	}
	.navbar-right {
		padding-right: 1rem;
		li a {

		    padding: 30px 1rem;	
		    text-shadow: none;	
		    &:hover {
		    	background-color: $secondary-color;
		    	color: #fff;
		    }	
		}

	}
}

/*--------------------------------LIGHT NAV-----------------------------------*/

.navbar-light {
  	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
	border: 0;
	background-color: #fff;
	a {
		color: $primary-blue;
	}
	img {
		width: 180px;
		height: 60px;
	}		
	.navbar-header{
		padding-top: 10px;
		padding-bottom: 10px;	
	}
	.navbar-right {
		padding-right: 1rem;
		li {
			a {
			    padding: 30px 1rem;	
			    text-shadow: none;	
			    &:hover {
			    	background-color: $secondary-color;
			    	color: #fff;
			    }
			}
			&.active {
		    	background-color: $primary-green;
		    	a {
		    		color: #fff !important;
		    	}
		    }	
		}
	}
}

.exchange-dropdown-menu {
	padding: 0;
	border-radius: 0;
	border: 0;
	min-width: 137px;
	li a {
    line-height: initial !important;
    padding: 1rem !important;	
    font-size: 1rem !important;	
    color: $primary-blue;
	}
}

.navbar-light .navbar-right li.active, .navbar-dark .navbar-right li.active {
	.exchange-dropdown-menu li a {
	    color: $primary-blue !important;
	    &:hover {
	    	color: #fff !important;
	    }
	}
}
/* Enable Bootstrap Hover Drop Downs */
.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}