.overlay-green {
    position: absolute;
    background-color: $primary-green;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.95;
}
.overlay-yellow {
    position: absolute;
    background-color: $primary-yellow;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.95;
}
.overlay-secondary-light {
    position: absolute;
    background-color: $secondary-color;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
}

.overlay-yellow-light {
    position: absolute;
    background-color: $primary-yellow;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
}
.overlay-blue-light {
    position: absolute;
    background-color: $primary-blue;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
}
.overlay-green-light {
    position: absolute;
    background-color: $primary-green;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.65;
}