
{% assign ordered_posts = page.parent.children | sort:'published_at' %}

{% for post in ordered_posts %}
{% if post.id == page.id %}
{% assign previous_post_number = forloop.index | minus:1 %}
{% assign next_post_number = forloop.index | plus:1 %}
{% endif %}
{% endfor %}

{% for post in ordered_posts %}
{% if forloop.index == previous_post_number %}
{% assign previous_post = post %}
{% elsif forloop.index == next_post_number %}
{% assign next_post = post %}
{% endif %}
{% endfor %}

<div class='container-fluid p-0'>
  <div class='row no-gutters'>
    <div class='col-sm-12 callout callout-wide'>
      <div class='callout-narrow-container'>
        {{ page.blog_post.content_full }}
        <div class="like-page">
          {% include "like_page" %}
        </div>
      </div>
    </div>
  </div>

	{% if previous_post.id.size > 0 %}
	<div class='col-sm-6 callout bg-green square'>
	  <div class='excerpt-container'>
	    <p class='post-date wow fadeInUp'>{{ previous_post.published_at | date: '%B %d, %Y' }}</p>
	    <h2 class='wow fadeInUp'>{{ previous_post.headline }}</h2>
	    <p class='wow fadeInUp'>
	      <a class='prev-next' href='{{ previous_post.url }}'>Learn More</a>
	    </p>
	  </div>
	</div>
	{% endif %}
	{% if next_post.id.size > 0 %}
	<div class='col-sm-6 callout bg-yellow square'>
	  <div class='excerpt-container'>
	    <p class='post-date wow fadeInUp'>{{ next_post.published_at | date: '%B %d, %Y' }}</p>
	    <h2 class='wow fadeInUp'>{{ next_post.headline }}</h2>
	    <p class='wow fadeInUp'>
	      <a class='prev-next' href='{{ next_post.url }}'>Learn More</a>
	    </p>
	  </div>
	</div>
	{% endif %}

</div>

{% subpage "newsletter" with "newsletter" %}






